.tag {
    all: initial;
    display: inline-flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    text-align: right;
    font-family: "space-mono", mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: min-content;
    white-space: nowrap;
}

.tagDesign {
    @extend .tag;
    background: #FFBCA9;
    color: #841C00;
    border: 1px solid #841C00;
}

.tagResearch {
    @extend .tag;
    background: #FFE2ED;
    color: #94003D;
    border: 1px solid #94003D;
}

.tagSoftware {
    @extend .tag;
    background: #E4F3A8;
    color: #4B5D00;
    border: 1px solid #4B5D00;
}

.tagP0 {
    @extend .tag;
    background: #FFAFAF;
    color: #930000;
    border: 1px solid #930000;
}

.tagP1 {
    @extend .tag;
    background: #FFE0C2;
    color: #7B3D00;
    border: 1px solid #7B3D00;
}

.tagP2 {
    @extend .tag;
    background: #C3BFFF;
    color: #1A0088;
    border: 1px solid #1A0088;
}
