.buttonContainerPrimary {
    all: initial;
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #5B50FF;
    color: #FDFCF8;
    text-align: left;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: min-content;
    white-space: nowrap;
    &:hover {
        background: #C3BFFF;
        color: #2519D2;
        cursor: pointer;
    }
    &:focus {
        background: #C3BFFF;
        color: #2519D2;
        outline: 2px solid #2519D2;
        outline-offset: 2px;
    }
}

.buttonContainerPrimaryDark {
    all: initial;
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #2519D2;
    color: #FDFCF8;
    text-align: left;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: min-content;
    white-space: nowrap;
    &:hover {
        background: #C3BFFF;
        color: #2519D2;
        cursor: pointer;
    }
    &:focus {
        background: #C3BFFF;
        color: #2519D2;
        outline: 2px solid #2519D2;
        outline-offset: 2px;
    }
}

.buttonContainerSecondary {
    all: initial;
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #5B50FF;
    background: #FDFCF8;
    color: #2519D2;
    text-align: left;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: min-content;
    white-space: nowrap;
    &:hover {
        background: #C3BFFF;
        color: #2519D2;
    }
    &:focus {
        background: #C3BFFF;
        color: #2519D2;
        outline: 2px solid #5B50FF;
        outline-offset: 2px;
    }
}

.buttonContainerSecondaryLight {
    all: initial;
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #FDFCF8;
    color: #FDFCF8;
    text-align: left;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: min-content;
    white-space: nowrap;
    &:hover {
        background: #C3BFFF;
        color: #2519D2;
    }
    &:focus {
        background: #C3BFFF;
        color: #2519D2;
        outline: 2px solid #5B50FF;
        outline-offset: 2px;
    }
} 