.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  max-width: 996px;
  animation: fadeIn 1s forwards;
  @media (max-width: 767px) {
       margin-top: 24px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    
    @media (max-width: 767px) {
      gap: 12px;
    }
}

.gridRow {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0px 24px;
    
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
}

.gridColumn {
    display: grid;
    grid-template-columns: 1fr;
    
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
}

.gridRowWithDivider {
    @extend .gridRow;
    &:not(:last-child)::after {
      content: "";
      grid-column: 1 / -1;
      border-bottom: 1px solid #C4C3BD;
    }
}

.gridColumnWithDivider {
    @extend .gridColumn;
    &:not(:last-child)::after {
      content: "";
      grid-column: 1 / -1;
      border-bottom: 1px solid #C4C3BD;
    }
}

.firstCell {
  background: linear-gradient(to bottom, #fdfcf8 90%, #fdfcf800);
  position: sticky;
  top: 0px;
  align-self: start;
  z-index: 2;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
}

.secondCell {
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  @media (max-width: 767px) {
    padding: 0px 0px 48px 0px;
  }
}


.leftCol {
  @extend .firstCell;
  padding: 48px 0;
}

.rightCol {
  @extend .secondCell;
  padding: 48px 0;
}

.topRow {
  @extend .firstCell;
  padding: 24px 0;
}

.bottomRow {
  @extend .secondCell;
  padding: 24px 0;
}

@supports (animation-timeline: view()) {
  .leftCol {
    animation: fadeInOut linear;
    animation-timeline: view() !important;
    animation-range: entry 0% exit 100%;
  }

  .rightCol {
    animation: fadeInOut linear;
    animation-timeline: view() !important;
    animation-range: entry 0% exit 100%;

  }

 .stickyRow:nth-last-child(2) {
    animation: borderFade linear;
    animation-timeline: view() !important;
    animation-range: entry 0% exit 100%;
  }

  @keyframes fadeInOut {
    0%   { opacity: 0.1; transform: translateY(32px); }
    8%   { opacity: 0.1; transform: translateY(32px); }
    15%   { opacity: 1; transform: translateY(0); }
    85%  { opacity: 1; transform: translateY(0); }
    92%  { opacity: 0.1; transform: translateY(-32px); }
    100% { opacity: 0.1; transform: translateY(-32px); }
  }

  @keyframes borderFade {
    0% { border-bottom-color: #C3BFFF; }
    90%   { border-bottom-color: transparent; }
    100%   { border-bottom-color: transparent; }
  }
}