.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  animation: fadeIn 1s forwards;
  @media (max-width: 767px) {
       margin-top: 24px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.gridRow {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0px 24px;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      min-height: unset;
    }
}

.gridRowSnap {
    display: grid;
    min-height: 100vh; //special
    place-content: center; //special
    grid-template-columns: 1fr 3fr;
    gap: 0px 24px;
    scroll-snap-align: center; //special
    scroll-snap-stop: always; //special
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      min-height: unset;
    }
}

.gridColumn {
    display: grid;
    grid-template-columns: 1fr;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
}

.gridColumnSnap {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh; //special
    scroll-snap-align: center; //special
    scroll-snap-stop: always; //special
    place-content: center; //special
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
}

.gridRowWithDivider {
    @extend .gridRow;
    &:not(:last-child)::after {
      content: "";
      grid-column: 1 / -1;
      border-bottom: 1px solid #C4C3BD;
    }
}

.gridRowWithDividerSnap {
    @extend .gridRowSnap;
    place-content: space-evenly; //special
    &:not(:last-child)::after {
      content: "";
      grid-column: 1 / -1;
      border-bottom: 1px solid #C4C3BD;
    }
}

.gridColumnWithDivider {
    @extend .gridColumn;
    &:not(:last-child)::after {
      content: "";
      grid-column: 1 / -1;
      border-bottom: 1px solid #C4C3BD;
    }
}

.gridColumnWithDividerSnap {
    @extend .gridColumnSnap;
    place-content: space-evenly; //special
    &:not(:last-child)::after {
      content: "";
      grid-column: 1 / -1;
      border-bottom: 1px solid #C4C3BD;
    }
}

.firstCell {
  background: linear-gradient(to bottom, #fdfcf8 90%, #fdfcf800);
  position: sticky;
  top: 0px;
  align-self: start;
  z-index: 20;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
}

.secondCell {
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  @media (max-width: 767px) {
    padding: 0px 0px 48px 0px;
  }
}


.leftCol {
  @extend .firstCell;
  padding: 40px 0; //special
  z-index: 2000;
  @media (max-width: 767px) {
    padding: 24px 0;
  }
}

.leftColSnap {
  @extend .firstCell;
  padding: 120px 0; //special
  z-index: 2000;
  @media (max-width: 767px) {
    padding: 24px 0;
  }
}

.rightCol {
  @extend .secondCell;
  padding: 40px 0; //special
  @media (max-width: 767px) {
    padding: 0 0 24px 0;
  }
}

.rightColSnap {
  @extend .secondCell;
  padding: 120px 0; //special
  @media (max-width: 767px) {
    padding: 0 0 24px 0;
  }
}

.topRow {
  @extend .firstCell;
  padding: 24px 0;
  @media (max-width: 767px) {
    padding: 24px 0;
  }
}

.bottomRow {
  @extend .secondCell;
  padding: 24px 0;
  @media (max-width: 767px) {
    padding: 24px 0;
  }
}

@supports (animation-timeline: view()) {
  .leftCol, .rightCol {
    animation: fadeInOut linear;
    animation-timeline: view() !important;
    animation-range: entry 0% exit 100%;
  }

  .leftColSnap, .rightColSnap {
    animation: fadeInOutSnap linear;
    animation-timeline: view() !important;
    animation-range: entry 0% exit 100%;
  }

 .stickyRow:nth-last-child(2) {
    animation: borderFade linear;
    animation-timeline: view() !important;
    animation-range: entry 0% exit 100%;
  }

  @keyframes fadeInOut {
    0%   { opacity: 0.1; transform: translateY(32px); }
    8%   { opacity: 0.1; transform: translateY(32px); }
    15%   { opacity: 1; transform: translateY(0); }
    80%  { opacity: 1; transform: translateY(0); }
    85%  { opacity: 0.1; transform: translateY(-32px); }
    100% { opacity: 0; transform: translateY(-32px); }
  }

  @keyframes fadeInOutSnap {
    0%   { opacity: 0.1; transform: translateY(32px); }
    10%   { opacity: 0.1; transform: translateY(32px); }
    40%   { opacity: 1; transform: translateY(0); }
    70%  { opacity: 1; transform: translateY(0); }
    75%  { opacity: 0.1; transform: translateY(-32px); }
    100% { opacity: 0; transform: translateY(-32px); }
  }

  @keyframes borderFade {
    0% { border-bottom-color: #C3BFFF; }
    90%   { border-bottom-color: transparent; }
    100%   { border-bottom-color: transparent; }
  }
}