.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  max-width: 996px;
  opacity: 0;
  margin-top: 40px;
  animation: fadeIn 1s forwards;
  @media (max-width: 767px) {
       margin-top: 24px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px 20px;
    
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
}

.row {
  display: contents;
  &:not(:last-child)::after {
    content: "";
    grid-column: 1 / -1;
    border-bottom: 1px solid #FFA600;
  }
}

.rowLast {
  display: contents;
  &::after {
    content: "";
    grid-column: 1 / -1;
    border-bottom: 1px solid #FFA600;
  }
}