.fullImageSlideContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    max-width: 608px;
}

.imageSlideTextContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.imageSlide {
    width: 100%;
    background-color: #E6E5E0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    aspect-ratio: 1/1;
    animation-name: slideInFromRight;
    animation-duration: 1s;
}

.imageSlideLink {
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.imageSlideLink:hover {
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: #E6E5E077;
}

.imageSlideContainer {
    width: 100%;
    overflow: hidden;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}