/* Animation keyframes - you need to add prefixes */
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.maskedCircle {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 8px solid #6D6C65;
}

.mask {
	width: 50%;
	height: 50%;
	overflow: hidden;
}

.spinner {
	width: 80px;
	height: 80px;
	animation: spin 1s infinite linear;
}