.title {
    padding: 24px 0;
    font-size: 48px;
    margin-top: 40px;
    @media (max-width: 767px) {
        font-size: 40px;
    }
}

.divider {
    width: 100%;
}

.summaryContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    gap: 24px;
}

.columnWith12Gap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.skills {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}

.projectTags {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
    position: absolute;
    padding: 12px 48px 0px 12px;
    z-index: 1001;
    max-width: inherit;
}

.rollWithItPrototype {
    width: 100%;
    max-height: 608px;
    aspect-ratio: 1/1;
    margin-bottom: 24px;
}

.desktopMockupContainer {
    position: relative;
    width: 100%;
    max-width: 976px;
    box-sizing: content-box;
    border: 10px solid #1a1a1a;
    border-radius: 24px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}

.desktopMockupContainer iframe {
    position: absolute;
    border: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;   
}

.phoneMockupContainer {
    position: relative;
    width: 100%;
    max-width: 402px;
    box-sizing: content-box;
    border: 10px solid #1a1a1a;
    border-radius: 24px;
    overflow: hidden;
    aspect-ratio: 402 / 874;
    @media (max-width: 479px) {
        aspect-ratio: unset;
        width: 320px;
        height: 695.72px;
    }
}

.phoneMockupContainer iframe {
    position: absolute;
    border: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;   
}

.journeyContent {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.journeySection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

.journeyCard {
    display: flex;
    flex-direction: column;
    border: 1px solid #C4C3BD;
    padding: 24px;
    gap: 12px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    height: 100%;
    @media (max-width: 767px) {
        padding: 12px;
    }
}

.stepNumber {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 12px;
    border-radius: 50%;
    background: #1A0088;
    color: #ffffff;
    position: relative;
    z-index: 2; /* sit above the line */
  }

  .steps {
    position: relative; /* anchor for the absolutely-positioned lines */
    display: flex;
    justify-content: space-between;
    gap: 8px;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  .step {
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .step:not(:first-child) {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 30px;       /* vertical center of the 36px circle */
        left: -50%;       /* midpoint of the previous (equal-width) column */
        width: 100%;      /* stretches to the midpoint of this column */
        height: 2px;
        background: #C9D2FF;
        z-index: 1;
        @media (max-width: 767px) {
        background: none;
        }
    }
  }

.halfGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
}

.bannerWrapper {
    position: relative;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

 .bannerWrapper img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}
