.fullPage {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 40px 24px;
    justify-content: center;
    align-items: center;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    height: 100dvh;
    background-color: #2B2B2B;
    background-image: url('../assets/images/Music/Bubble.png'), url('../assets/images/Music/Bubble.png'), url('../assets/images/Music/Bubble.png');
    background-size: 900px, 1000px, 500px;
    background-position: left -100px top 106px, right -300px top -300px, center bottom -100px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed;
    @media (max-width: 767px) {
        height: unset;
    }
}

.fullPageMobile {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 40px 24px;
    justify-content: center;
    align-items: center;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    height: auto;
    min-height: 100dvh;
    background-color: #2B2B2B;
    background-image: url('../assets/images/Music/Bubble.png'), url('../assets/images/Music/Bubble.png'), url('../assets/images/Music/Bubble.png');
    background-size: 900px, 1000px, 500px;
    background-position: left -100px top 106px, right -300px top -300px, center bottom -100px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed;
}

.individualPlaylistTitle {
    display: flex;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.playlistTitle {
    display: flex;
    height: 100%;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.playlistArrayContainer {
    display: flex;
    max-width: 924px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    gap: 24px;
    padding-top: 100px;
    @media (max-width: 767px) {
        max-width: 200px;
        flex-direction: column;
    }
}

.liquidGlassWrapper {
    position: relative;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    min-width: 100px;
    border-radius: 24px;
    border: 1px solid rgba(255,255,255,0.5);
    overflow: hidden;
    top: 0;
    transition: all 0.4s ease;
    padding: 24px;
    aspect-ratio: 1/1;
    &:hover {
        top: -100px;
        cursor: pointer;
    }
}

.liquidGlassEffect {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3px) brightness(0.9);
    filter: url(#glassDistortion);
    overflow: hidden;
}

@keyframes vinyl-spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes vinyl-spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vinylContainer {
    display: flex;
    max-width: 426px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

.vinylContainer1 {
    display: flex;
    max-width: 426px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    animation: vinyl-spin1 infinite 30s linear;
}

.vinylContainer2 {
    display: flex;
    max-width: 426px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    animation: vinyl-spin2 infinite 30s linear;
}

.vinylLiquidGlassWrapper {
    position: relative;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.5);
    transition: all 0.4s ease;
    overflow: hidden;
    padding: 10px;
}

.vinylLiquidGlassEffect {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3px) brightness(0.9);
    filter: url(#glassDistortion);
    overflow: hidden;
    padding: 10px;
    border-radius: 50%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

.centerImage {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

.finalCenterImage {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}

.individualPlaylistContainer {
    display: flex;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    max-width: 924px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: center;
    border-radius: 24px;
    border: 1px solid #FFF;
}

.individualVinylAndMusicListContainer {
    display: flex;
    flex-direction: row;
    max-width: 924px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    @media (max-width: 767px) {
      flex-direction: column;
    }
}

.individualPlaylistButtonContainer {
    display: flex;
    position: relative;
    max-width: 924px;
    padding: 24px;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.05);
    @media (max-width: 767px) {
        gap: 24px;
        flex-direction: column;
    }
}

.playlistDetailsContainer {
    display: flex;
    position: relative;
    height: max-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 0 0;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    align-self: stretch;
    transition: top 0.4s ease;
}

.titleAndArtist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.titleArtistAndTime {
    display: flex;
    position: relative; /* try this */
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    height: 90px;
    min-height: 90px;
    gap: 24px;
}

.songAndButtonLiquidGlassWrapper {
    position: relative;
    border-radius: 24px;
    border: 1px solid rgba(255,255,255,0.5);
    overflow: hidden;
    align-self: stretch;
}

.centerCurrentSongDetails {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.mainTitleAndArtist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 200px;
    min-width: 200px;
    margin-right: 24px;
    @media (max-width: 767px) {
        align-items: center;
        margin: 0;
        width: -moz-available;
        width: -webkit-fill-available;
        width: stretch;
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 12px;
    margin: 0 24px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

.playlistButton {
    all: unset;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    &:active {
        all: unset;
        cursor: pointer;
    }
}

.playButton {
    all: unset;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-image: url('../assets/images/Music/PlayButton.png');
    width: 40px;
    height: 40px;
}

.pauseButton {
    all: unset;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-image: url('../assets/images/Music/PauseButton.png');
    width: 40px;
    height: 40px;
}

.previousSongButton {
    all: unset;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-image: url('../assets/images/Music/PreviousSongButton.png');
    width: 20px;
    height: 20px;
}

.nextSongButton {
    all: unset;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-image: url('../assets/images/Music/NextSongButton.png');
    width: 20px;
    height: 20px;
}

.volumeContainer {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    @media (max-width: 767px) {
        margin: 0;
        width: -moz-available;
        width: -webkit-fill-available;
        width: stretch;
    }
}

.volumeIcon {
    background-image: url('../assets/images/Music/VolumeButton.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 24px;
    height: 24px;
}

.volumeSlider {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
    background: transparent;
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
        width: -moz-available;
        width: -webkit-fill-available;
        width: stretch;
    }
    &::-webkit-slider-runnable-track {
        height: 4px;
        background: #FFF;
        border-radius: 2px;
    }
    &::-moz-range-track {
        height: 4px;
        background: #585858;
        border-radius: 2px;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -6px;
        height: 16px;
        width: 16px;
        background-color: #fff;
        border-radius: 50%;
        padding-bottom: 8px;
    }
    &::-moz-range-thumb {
        -moz-appearance: none;
        appearance: none;
        height: 16px;
        width: 16px;
        background-color: #fff;
        border-radius: 50%;
    }
}

.currentSongLiquidGlassWrapper {
    position: absolute;
    border-radius: 24px;
    border: 1px solid rgba(255,255,255,0.5);
    overflow: hidden;
    align-self: stretch;
    height: 90px;
    min-height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.4s ease;
}

.currentSongLiquidGlassEffect {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3px) brightness(0.9);
    filter: url(#glassDistortion);
    overflow: hidden;
}

.currentSongContainer {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 16px;
}

.buttonsAndProgressContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

.progressBarContainer {
    display: flex;
    flex-direction: column;
    background-color: #585858;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    border-radius: 2px;
    gap: 12px;
}

.progressBar {
    background-color: #FFFFFF;
    height: 4px;
    border-radius: 2px;
}

.progressBarTimestampContainer {
    display: flex;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.timestamp {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}