@import '../index.scss';

.profileContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.aboutMeContainer {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.buttonContainerProfile {
    display: flex;
    height: 100%;
    align-items: center;
}

.resumeContentContainer {
    display: flex;
    flex-direction: row;
    gap: 28px;
}