.largeProjectSectionContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 24px;
}

.largeProjectSectionTitle {
    width: 134px;
    min-width: 134px;
    overflow-wrap: break-word;
    text-align: right;
    box-sizing: border-box;
    font-size: 128px;
}

.largeProjectSectionText {
    width: 100%;
    max-width: 608px;
    gap: 40px;
}