.colorBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 568px;
    gap: 16px;
    padding: 20px;
    @media (max-width: 767px) {
        max-width: none;
        width: -moz-available;
        width: -webkit-fill-available;
        width: stretch;
    }
}

.fontBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 568px;
    gap: 16px;
    padding: 20px;
    border: 1px solid #33322A;
    @media (max-width: 767px) {
        max-width: none;
        width: -moz-available;
        width: -webkit-fill-available;
        width: stretch;
    }
}

.imageBox {
    border: 1px solid #E6E5E0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    aspect-ratio: 1/1;
}

.projectDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.projectDetailContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}