@import url('https://googleapis.com');

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    gap: 16px;
    padding: 20px;
    @media (max-width: 767px) {
        max-width: none;
        width: -moz-available;
        width: -webkit-fill-available;
        width: stretch;
    }
}

.fontBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    gap: 16px;
    padding: 20px;
    border: 1px solid #E6E5E0;
    @media (max-width: 767px) {
        max-width: none;
        width: -moz-available;
        width: -webkit-fill-available;
        width: stretch;
    }
}

.projectDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

.projectDetailContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}