.appContainer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  justify-content: flex-start;
  align-items: center;
  min-width: 288px;
  background-color: #FDFCF8;
  height: 100dvh;
  min-height: min-content;
  @media (max-width: 479px) {
    padding-top: 24px;
  }
}

.appContainerMobile {
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  min-width: 288px;
  background-color: #FDFCF8;
  height: unset;
  @media (max-width: 479px) {
    padding: 40px 12px;
  }
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 766px;
    padding: 168px 0 72px 0;
    gap: 40px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    @media (max-width: 479px) {
      padding: 40px 0;
      max-width: 448px;
    }
}

.welcomeContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
  min-height: 100vh;
}

.welcomeTitle {
  font-size: 80px;
  font-weight: 700;
  color: #1A0088;
  opacity: 0;
  transform-origin: left center;
  animation: zoomOut 2s forwards;
  @media (max-width: 767px) {
    font-size: 48px;
  }
}

.welcomeText {
  font-size: 40px;
  white-space: pre-line;
  font-weight: 400;
  opacity: 0;
  animation: fadeIn 1s ease-out 2s forwards;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1); 
  }
  20% {
    opacity: 1;
    transform: scale(1); 
  }
  70% {
    opacity: 1;
    transform: scale(1); 
  }
  100% {
    opacity: 1;
    transform: scale(0.8); 
  }
}

.cursor {
  position: fixed;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
  z-index: 3000;
  backdrop-filter: grayscale(1);
  mix-blend-mode: difference;
  pointer-events: none;
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.cursor.grow {
  transform: scale(2);
}
