.appContainer {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  justify-content: flex-start;
  align-items: center;
  min-width: 288px;
  background-color: #FDFCF8;
  height: 100dvh;
  min-height: min-content;
  @media (max-width: 479px) {
    padding: 40px 12px;
  }
}

.appContainerMobile {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  min-width: 288px;
  background-color: #FDFCF8;
  height: unset;
  @media (max-width: 479px) {
    padding: 40px 12px;
  }
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 766px;
    padding: 168px 0 72px 0;
    gap: 40px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    @media (max-width: 479px) {
      padding: 40px 0;
      max-width: 448px;
    }
}

.welcomeContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.welcomeTitle {
  max-width: 996px;
  font-size: 80px;
  font-weight: 700;
  font-family: "neue-haas-grotesk-text", sans-serif;
  color: #1A0088;
  opacity: 0;
  transform-origin: left center;
  animation: zoomOut 2s forwards;
  @media (max-width: 767px) {
    font-size: 48px;
  }
}

.welcomeText {
  max-width: 996px;
  font-size: 20px;
  white-space: pre-line;
  font-weight: 700;
  font-family: "neue-haas-grotesk-text", sans-serif;
  opacity: 0;
  animation: fadeIn 1s ease-out 2s forwards;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1); 
  }
  20% {
    opacity: 1;
    transform: scale(1); 
  }
  70% {
    opacity: 1;
    transform: scale(1); 
  }
  100% {
    opacity: 1;
    transform: scale(0.8); 
  }
}
