.appContainer {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  justify-content: flex-start;
  align-items: center;
  /* gap: 24px; */
  min-width: 288px;
  background-color: #FDFCF8;
  height: 100dvh;
  min-height: min-content;
  @media (max-width: 479px) {
    padding: 40px 12px;
  }
}

.appContainerMobile {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  min-width: 288px;
  background-color: #FDFCF8;
  height: unset;
  @media (max-width: 479px) {
    padding: 40px 12px;
  }
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 766px;
    padding: 168px 0 72px 0;
    gap: 40px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    @media (max-width: 479px) {
      padding: 40px 0;
      max-width: 448px;
    }
}

.welcomeContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.welcomeText {
  display: flex;
  max-width: 996px;
  font-size: 20px;
  color: #33322A;
  white-space: pre-line;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}
