.appContainer {
  height: 100vh;
}

.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.title {
  width: 100%;
  color: #E95400;
  font-family: 'SatoshiBlack';
  font-size: 20px;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}