html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #FDFCF8;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  border: 1px solid #E6E5E0;
}

p {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #33322A;
  line-height: 1.5;
  white-space: pre-wrap;
  margin: 0;
  text-align: left;
}

a, button {
  all: unset;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  color: #6D6C65;
  &:hover {
    text-decoration-line: none;
    color: #6D6C65;
    cursor: pointer;
  }
  &:active {
    text-decoration-line: none;
    color: #C4C3BD;
  }
}

h1 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: #33322A;
  margin: 0;
  min-width: stretch;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

h2 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #6D6C65;
  margin: 0;
  line-height: 1.5;
}

h3 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  color: #6D6C65;
  margin: 0;
}

h4 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  color: #6D6C65;
  margin: 0;
}

h5 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #6D6C65;
  margin: 0;
}
