body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDFCF8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  border: 1px solid #FFA600;
}

p {
  font-family: plantin, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #33322A;
  line-height: normal;
  white-space: pre-wrap;
  margin: 0;
}

a {
  font-family: "space-mono", mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  color: #6D6C65;
}

a:hover {
  text-decoration-line: none;
  color: #6D6C65;
  cursor: pointer;
}

a:active {
  text-decoration-line: none;
  color: #C4C3BD;
}

h1 {
  font-family: "plantin", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  color: #E6E5E0;
  letter-spacing: -3.6px;
  margin: 0;
}

h2 {
  font-family: "plantin", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #E6E5E0;
  letter-spacing: -2px;
  margin: 0;
}

h3 {
  font-family: "space-mono", mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #95948E;
  margin: 0;
}

h4 {
  font-family: "space-mono", mono;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  color: #95948E;
  margin: 0;
}

h5 {
  font-family: "plantin", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2px;
  color: #E6E5E0;
  margin: 0;
}
