.largeNavContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    gap: 40px;
    top: 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    max-width: 996px;
    margin-bottom: 40px;
    z-index: 1000;
}

.largeNavList {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

.navTitle {
    font-family: "plantin", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.8px;
    color: #2519D2;
}

.smallNavContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    max-width: 996px;
    gap: 40px;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
    margin-bottom: 24px;
    z-index: 1000;
}

.smallNavModalContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 48px 16px;
    height: 100%;
    position: fixed;
    align-items: flex-end;
    top: 0;
    right: 0;
    backdrop-filter: blur(10px);
    background-color: #E6E5E077;
    z-index: 1002;
}

.smallNavModal {
    display: flex;
    flex-direction: column;
    width: 134px;
    padding: 48px 16px;
    height: 100%;
    position: fixed;
    align-items: flex-end;
    top: 0;
    right: 0;
    background: #E6E5E0;
    box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.25);
    animation-name: slideInFromRight;
    animation-duration: 0.5s;
}

.smallNavList {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.footer {
    padding-top: 80px;
    color: #C4C3BD;
}

.link {
    &:focus {
        outline: 2px solid #6D6C65;
        outline-offset: 2px;
    }
    &:focus:not(:focus-visible) {
        outline: none;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}