.largeNavContainer {
    display: flex;
    flex-direction: column;
    width: 134px;
    padding-top: 72px;
    gap: 40px;
    position: fixed;
    top: 0;
    opacity: 0; /* Initially hide the element */
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}

.largeNavList {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.largeNavWithFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    width: 134px;
}

.largeNavFooter {
    width: 134px;
    position: fixed;
    bottom: 72px;
}

.navTitle {
    font-family: "plantin", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.8px;
    color: #2519D2;
}

.smallNavWithFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.smallNavContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 48px;
    gap: 40px;
    top: 0;
    left: 0;
    opacity: 0; /* Initially hide the element */
    animation: fadeIn 1s forwards;
}

.smallNavModalContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 48px 16px;
    height: 100%;
    position: fixed;
    align-items: flex-end;
    top: 0;
    right: 0;
    backdrop-filter: blur(10px);
    background-color: #E6E5E077;
    z-index: 1000;
}

.smallNavModal {
    display: flex;
    flex-direction: column;
    width: 134px;
    padding: 48px 16px;
    height: 100%;
    position: fixed;
    align-items: flex-end;
    top: 0;
    right: 0;
    background: #E6E5E0;
    box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.25);
    animation-name: slideInFromRight;
    animation-duration: 0.5s;
}

.smallNavList {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.smallNavFooter {
    width: 134px;
    padding: 0 16px;
    text-align: right;
    position: fixed;
    bottom: 72px;
    right: 0;
    z-index: 1001;
    animation-name: slideInFromRight;
    animation-duration: 0.5s;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}